node_modules
.next
.env
*.db
*.db-journal
storage/*
!storage/.gitkeep

# Scratch directory created by scripts/selftest-storage.ts
storage-test/

# TypeScript incremental build cache
tsconfig.tsbuildinfo
